@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Poppins:wght@500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 98%;
    --foreground: 20 20% 20%;
    --card: 0 0% 100%;
    --card-foreground: 20 20% 20%;
    --popover: 0 0% 100%;
    --popover-foreground: 20 20% 20%;
    --primary: 142 76% 36%;
    --primary-foreground: 0 0% 98%;
    --secondary: 35 15% 85%;
    --secondary-foreground: 20 20% 20%;
    --muted: 35 15% 85%;
    --muted-foreground: 30 10% 60%;
    --accent: 35 15% 85%;
    --accent-foreground: 20 20% 20%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;
    --border: 35 15% 85%;
    --input: 35 15% 85%;
    --ring: 142 76% 36%;
    --radius: 0.75rem;
  }
  .dark {
    --background: 15 15% 15%;
    --foreground: 35 15% 85%;
    --card: 20 20% 20%;
    --card-foreground: 35 15% 85%;
    --popover: 5 5% 5%;
    --popover-foreground: 35 15% 85%;
    --primary: 142 76% 56%;
    --primary-foreground: 15 15% 85%;
    --secondary: 25 10% 75%;
    --secondary-foreground: 35 15% 85%;
    --muted: 25 10% 75%;
    --muted-foreground: 30 10% 60%;
    --accent: 25 10% 75%;
    --accent-foreground: 35 15% 85%;
    --destructive: 0 62% 31%;
    --destructive-foreground: 35 15% 85%;
    --border: 25 10% 75%;
    --input: 25 10% 75%;
    --ring: 142 76% 56%;
  }
}

@layer base {
  * {
    border-color: hsl(var(--border));
  }
  body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
    font-family: "Fredoka", sans-serif;
  }
  html {
    scroll-behavior: smooth;
  }
}